<header class="topbar">
  <nav class="sidebar">
    <a href="/">Home</a>
    <a href="/#about">About</a>
    <a href="/crud">Crud</a>
  </nav>

  <div class="heading">
    <h1>
      <a href="/">fl<i class="fa-solid fa-fan"></i>wer<sup>be</sup></a>
    </h1>
  </div>

  <nav class="sidebar">
    <a href="/#gallery">Gallery</a>
    <a href="/#footer">Contact</a>
    <a href="/checkout">Buy Now</a>
  </nav>
</header>